/*フォントせってい*/
@font-face {
    font-family: yomogi;
    src: url(/fonts/Yomogi-Regular.ttf);
}
@font-face {
    font-family: keifont;
    src: url(/fonts/keifont.ttf);
}
@font-face {
    font-family: mushin;
    src: url(/fonts/mushin.otf);
}
/* メイン設定 */
:root {
    --bg: #0f1115;
    --text: white;

    --radius: 16px;
    --blur: 20px;

    --font: yomogi;
    --widget-bg: rgba(40, 40, 40, 0.4);

}
body{
    font-family: var(--font);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 背景 */
#background {
    position: fixed;
    inset: 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}

/* ヘッダー */
header{
    align-items: center;
}

/* 検索バー */
#searchForm {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
#searchInput {
    width: min(600px, 80vw);
    padding: 16px 24px;

    border: none;
    border-radius: 999px;

    font-size: 18px;
    font-family: yomogi;

    color: white;
    outline: none;

    text-shadow: 0 1px 3px black;

    
}

::placeholder {
    color: rgba(255,255,255,0.8);
}

/* 時計 */
.clock-widget {
    position: fixed;

    bottom: -30px;
    right: -20px;

    padding: 25px 40px;
    border-radius: 20px;

    color: white;
    font-size: 48px;
    font-weight: bold;
}
#clock {
    letter-spacing: 3px;
    transform: translateY(-15px);
}

/* ショトカ */
#shortcuts {
    position: fixed;

    left: 15px;
    bottom: 30px;

    display: flex;
    flex-direction: column; /* ← 横から縦に！ */
    flex-wrap: wrap;
    gap: 7px;

    max-width: 400px;
}

#shortcuts a {
    padding: 10px 90px;

    text-decoration: none;
    font-size: 20px;

    border-radius: 12px;

    transition: .2s;

    color: white;
    text-shadow: 0 2px 5px black;
}

#shortcuts a:hover {
    background: rgba(255,255,255,.3);
    transform: translateY(-2px);
}

#shortcuts span{
    margin-left: 4px;
}

#shortcuts[hidden] {
    display: none;
}

/* 日付 */
#date {
    position: fixed;

    bottom: 60px;
    right: -10px;

    padding:  10px 40px 15px;
    border-radius: 20px;

    color: white;
    font-size: 32px;
    font-weight: bold;

    letter-spacing: 3px;
    transform: translateY(-15px);
}

.widget {
    background: var(--widget-bg);
    backdrop-filter: blur(var(--blur));
}

#memo {
    width: 250px;
    height: 120px;

    padding: 12px;

    color: white;
    background: var(--widget-bg);

    border: none;
    border-radius: var(--radius);

    backdrop-filter: blur(var(--blur));

    resize: none;

    position: fixed;
    top: 5px;
    right: 5px;
    font-family: var(--font);
    font-size: 20px;
}

/* あいさつ */
#greeting {
    position: fixed;

    /* top: 120px; */
    bottom: 20px;
    Right: 300px;

    padding: 15px 35px;
    border-radius: 10px;

    color: white;
    font-size: 24px;
    font-weight: bold;
}

#tip {
    position: fixed;

    bottom: 20px;
    left: 420px;

    padding: 15px 35px;
    border-radius: 10px;

    color: white;
    font-size: 12px;
    font-weight: bold;
}

/*サジェスト*/
#suggestions {
    position: fixed;
    top: 115px;

    width: min(600px, 80vw);

    border: none;
    border-radius: 32px;

    font-size: 18px;
    font-family: yomogi;

    color: white;
    outline: none;

    text-shadow: 0 1px 3px black;

    background: var(--widget-bg);
    backdrop-filter: blur(var(--blur));
}

.suggestion {
    padding: 16px 32px;
    cursor: pointer;
}

.suggestion:hover {
    background: rgba(255,255,255,0.1);
}

/* 音楽 */
#music {
    position: fixed;
    bottom: 100px;
    left: 420px;

    width: 300px;

    padding: 15px 35px;
    border-radius: 10px;

    background: var(--widget-bg);
    backdrop-filter: blur(var(--blur));
}

#musicFile{
    padding-bottom: 11px;
    color: white;
    font-family: yomogi;
}

#musicTitle{
    padding-bottom: 10px;
    font-size: 15px;
    color: white;
    font-family: yomogi;
}

.musicVolume{
    font-size: 15px;
    color: white;
}

#selectMusic {
    padding: 6px 14px;

    border: none;
    border-radius: 12px;

    background: var(--widget-bg);
    backdrop-filter: blur(var(--blur));
    color: white;

    font-family: inherit;
    cursor: pointer;

    transition: 0.2s;
}

#selectMusic:hover {
    transform: scale(1.05);
}