/* メイン設定 */
@font-face {
    font-family: yomogi;
    src: url(/fonts/Yomogi-Regular.ttf);
}
body {
    background: #202124;
    color: white;
    font-family: yomogi;

    margin: 0;
}

main {
    width: 700px;
    margin: 30px auto;
    padding: 20px;

    border-radius: 15px;

    background: rgba(255,255,255,.08);
}

.shortcut-setting {
    display: flex;
    flex-direction: column;

    gap: 8px;

    margin-bottom: 24px;
}

.shortcut-setting input {
    padding: 8px;
}

a{
    color: blueviolet;
}

input{
    font-family: yomogi;
}